
@import url('https://fonts.googleapis.com/css2?family=Mina&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Atma&display=swap');

  .mina {
 font-family: 'Mina', sans-serif; }
.alkatra { font-family: 'Alkatra',sans-serif; }
.atma { font-family: 'Atma', cursive; }
